.App {
  text-align: center;
}

/* .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
} */

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.site-card-wrapper {
  padding: 30px;
  background: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .container-movie {
  background-color: red;
} */

.movie-detail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.game-detail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}